@media screen and (max-width: 960px) {
   .header {
      width: 768px;
      margin-bottom: 75px;
   }

   .slider {
      width: 768px;
   }

   .slides-title {
      margin-top: 55px;
      letter-spacing: -0.75px;
      margin-left: 25px;
      font-size: 299%;
   }

   .slides-subtitle {
      margin-top: 0px;
      margin-left: 23px;
      letter-spacing: -0.2px;
   }

   ..slides-subtitle {
      margin-left: 25px;
      font-size: 97%; 
   }

   .slides_subtitle-hidden {
      display: none;
   }
   .blurbs {
      width: 768px;
   }

   .main {
   width: 768px;
   }

   .footer-info {
   width: 768px;
   }

   .footer-menu {
   width: 768px;
   }

   .header-menu {
   float: left;
   margin-top: 31px;
   }

   .blurbs-about {
   height: 207px;
   overflow: hidden;
   margin-left: 0;
   }

   .wrapper-tesimonials{
   height: 149px;
   overflow: hidden;
   }
}