/*@media screen and (min-width: 960px) {
   .header {
      width: 960px;
   }

   .slider {
      width: 960px;
   }

   .blurbs {
   width: 960px;
}

.main {
   width: 960px;
}

.footer-info {
   width: 960px;
}

.footer-menu {
   width: 960px;
}
}*/
 
